.clearfloat{
	*zoom:1;
}
.clearfloat:after{
	display: block;
	clear: both;
	content: '';
	visibility: hidden;
	height: 0;
}
ul{
	margin: 0;
}
nav{
	/*height: 50px;*/
	background: transparent;
	height: 50px;
}
#banner{
	background: transparent;
	height: 700px;
}
header{
	background: rgb(0,0,0,0.4);
}
nav ul{
	list-style: none;
	margin: 0;
	float: right;
}
nav ul li {
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
}
nav ul li a{
	padding: 0 10px;
	font-size: 12px;
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #fff;

}
.logo{
	float: left;
}
nav .logo a{
	padding-left: 10px;
	line-height: 50px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #fff;
	display: inline-block;
	text-decoration: none;
}
#banner .inner{
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 160px;
}
#banner .inner h1{
	margin: 0;
	color: #fff;
}
#banner .inner .sub-head{
	line-height: 30px;
	margin: 20px;
	color: #fff;
}
button{
	border: none;
	padding:14px 28px;
	letter-spacing: 1px;
	border-radius: 6px;
	font-size: 20px;
	background: #18a;
	color: #eee;
}
#banner button{
	padding: 14px 40px;
}
#banner .inner .sub-heading{
	line-height: 30px;
}
#banner .inner .more{
	margin-top: 200px;
	color: #fff;
}
/*不知道怎么出现的这段代码开始*/
.active{
	border-bottom: 4px solid #fff;
}
h1{
	padding:12px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

h2{
	font-size: 30px;
}
h3{
	font-size: 24px;
}
p{
	font-size: 18px;
	letter-spacing: 1px;
}
.hr{
	width: 100%;
	height: 2px;
	margin:20px auto;
}
.sub-heading{
	line-height: 30px;
	margin: 30px 0;
}
#main-btn{
	padding: 14px 28px;
	font-size: 20px;
	letter-spacing: 4px;
	border-radius: 6px;
	background: #18a;
}

/*这是中间content部分*/
.green-section{
	background: #089db0;
	color: #fff;
	text-align: center;
	padding: 100px 0;
}
.green-section .hr{
	background: #098e9f;
	width: 60%;
}
.green-section .icon-group .icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	background: #0d6f7c;
	transform: rotate(45deg);
	margin:20px;
}
.icon-group{
	margin-top: 60px;
}
.wrapper{
	max-width: 1028px;
	margin: 0 auto;
}

/*grey-section*/
.gray-section .img-section{
	width: 45%;
}
.img-section img{
	width: 100%;
}
.gray-section .text-section{
	width: 55%;
}
.gray-section{
	background: #252f34;
	color: #fff;
}
/*.article-preview{
	font-size: 0;
}*/
.article-preview >div{
	float: left;
	font-size: 0;
}
.article-preview:nth-child(odd){
	background-color: rgba(255,255,255,0.05);
}
.text-section{
	position: relative;
	top: 68px;
	left: 50px;
}
.text-section h2{
	margin-bottom: 20px;
}
.text-section .sub-heading{
	font-size: 22px;
	margin-top: 0;
}
.text-section >*{
	max-width: 90%;
}



/*purple-section*/
.purple-section{
	padding:80px;
	background: #3f3965;
	color: #fff;
}

.purple-section .heading-wrapper{
	text-align: center;
}
.purple-section .hr{
	background: #373259;
	width: 60%;
}
.card{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 50px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
/*	border: 1px solid white;*/
}
.card:first-child{
	background-color: rgba(0,0,0,0.04);
}
.card:nth-child(2){
	background-color: rgba(0,0,0,0.08);
}
.card:nth-child(3){
	background-color: rgba(0,0,0,0.12);
}
.card:nth-child(4){
	background-color: rgba(0,0,0,0.16);
}
.card:nth-child(5){
	background-color: rgba(0,0,0,0.20);
}
.card:nth-child(6){
	background-color: rgba(0,0,0,0.24);
}

/*footer样式*/
footer{
	color: #fff;
	background: rgba(0,0,0,0.3);
	min-height: 200px;
	text-align: center;
}
.share-group{
	display: block;
	width: 1080px;
	margin: 0 auto;
	padding: 50px;
}
.share-group li{
	display: inline-block;
	padding: 10px;
}
.copy{
	padding-bottom: 20px;
}

.main-wrap{
	background:url(../img/banner.jpg) no-repeat center #444;
	background-attachment: fixed;
}

.foothead{
height: 300px;
width: 700px;
margin: 0 auto;
color: #fff;
}
.foothead .foot-text{
display: inline-block;
width: 320px;
padding:80px 0px;
}
.foothead .buttons{
display: inline-block;
padding: 60px;
}
.foothead .buttons button:nth-child(1){
display: block;
margin-bottom: 30px;
border-radius: 0;
padding: 10px 83px 10px 83px;
background: #DF3735;
font-size: 14px;
}
.foothead .buttons button:nth-child(2){
margin-bottom: 30px;
border-radius: 0;
border: 1px solid #fff;
background: transparent;
padding: 8px 65px 8px 65px;
}
.title_foot{
text-align: center;
min-height: 200px;
color: #fff;
background: rgba(0,0,0,0.9);
}

